*{
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding:0;
    margin:0;
    background-color: @primary-background-color;
    color: @primary-text-color;
}

main {
    flex:1;
    background-color: @content-primary-background;
    color: @content-primary-text;
}
footer {
    background-color: @primary-background-color;
    color:@primary-text-color;
}